- bs_c = { situation_table: "container my-5",
           character_list: "rounded-lg bg-secondary text-white py-2",
           character_name: "col-5 pr-0 font-weight-bold",
           character_status: "col px-0",
           status_badge: "badge badge-dark badge-sm",
           vs_badge: "font-weight-bold text-center w-100 p-2",
           action_ul: "list-group list-group-flush",
           act_li: "list-group-item bg-dark border-white-50",
           turn_badge: "badge badge-secondary mr-2",
           actor_name: "h5 font-weight-bold",
           critical_hit: "badge badge-danger badge-pill align-middle",
           damage_num: "text-danger font-weight-bold",
           current_target_hp: "small",
           situation_of_turn: "row mt-3",
           current_player_hp: "col-6 col-md-4",
           current_enemy_hp: "col-6 col-md-4",
           max_hp: "small",
           result_message: "alert alert-light",
           user_won: "text-danger font-weight-bold",
           get_exp: "font-weight-bold",
           get_coin: "font-weight-bold",
           user_lose: "font-weight-bold",
           home_button: "btn btn-light btn-block my-5" }
- player = @battle_logs[:battle_info][:player_info]
- enemy = @battle_logs[:battle_info][:enemy_info]
- action_logs = @battle_logs[:action_logs]
- battle_result = @battle_logs[:battle_result]

-# 戦闘開始状況
#situation_table{ class: bs_c[:situation_table] }
  .div
    .row{ class: bs_c[:character_list]}
      %span{ class: bs_c[:character_name]}
        = player[:name]
      %span{ class: bs_c[:character_status]}
        %span{ class: bs_c[:status_badge] }
          HP
        = player[:hp]
      %span{ class: bs_c[:character_status]}
        %span{ class: bs_c[:status_badge] }
          STR
        = player[:str]
      %span{ class: bs_c[:character_status]}
        %span{ class: bs_c[:status_badge] }
          VIT
        = player[:vit]
    .row
      %div{ colspan: 5, class: bs_c[:vs_badge] }
        VS
    .row{ class: bs_c[:character_list]}
      %span{ class: bs_c[:character_name]}
        = enemy[:name]
      %span{ class: bs_c[:character_status]}
        %span{ class: bs_c[:status_badge] }
          HP
        = enemy[:hp]
      %span{ class: bs_c[:character_status]}
        %span{ class: bs_c[:status_badge] }
          STR
        = enemy[:str]
      %span{ class: bs_c[:character_status]}
        %span{ class: bs_c[:status_badge] }
          VIT
        = enemy[:vit]


-# 戦闘経過ログ
%ul{ class: bs_c[:action_ul] }
  - action_logs.each do |log|
    %li{ class: bs_c[:act_li] }
      .div
        -#%span{ class: bs_c[:turn_badge] }
        -#  = log[:act_turn]
        %span{ class: bs_c[:actor_name] }
          = log[:actor_name]
        = "の攻撃！" if log[:act_type] == :normal_attack
        %span{ class: bs_c[:critical_hit] }= "Critical!" if log[:critical_hit] == true
      .div
        = "#{log[:target_name]}に"
        %span{ class: bs_c[:damage_num] }
          = log[:damage]
        のダメージ
      .situation-of-turn{ class: bs_c[:situation_of_turn] }
        - player_current_hp, enemy_current_hp = ""
        - if log[:target_name] == player[:name]
          - player_current_hp = bs_c[:damage_num]
        - else
          - enemy_current_hp = bs_c[:damage_num]
        %span{ class: bs_c[:current_player_hp] }
          = "#{player[:name]}"
          %span{ class: player_current_hp }
            = log[:current_player_hp]
          %span{ class: bs_c[:max_hp] }
            = "/#{player[:hp]}"
        %span{ class: bs_c[:current_player_hp] }
          = "#{enemy[:name]}"
          %span{ class: enemy_current_hp }
            = log[:current_enemy_hp]
          %span{ class: bs_c[:max_hp] }
            = "/#{enemy[:hp]}"
  %li{ class: bs_c[:act_li] }
    = "#{battle_result[:loser_name]}は倒れた"


-# 戦闘結果
#result_table{ class: bs_c[:situation_table] }
  .div
    .row{ class: bs_c[:character_list]}
      %span{ class: bs_c[:character_name]}
        = player[:name]
      %span{ class: bs_c[:character_status]}
        %span{ class: bs_c[:status_badge] }
          HP
        = "#{battle_result[:last_player_hp]}"
        %span{ class: bs_c[:max_hp] }
          = "/#{player[:hp]}"
      %span{ class: bs_c[:character_status]}
        %span{ class: bs_c[:status_badge] }
          LV
        = player[:lv]
    .row
      %div{ colspan: 5, class: bs_c[:vs_badge] }
        VS
    .row{ class: bs_c[:character_list]}
      %span{ class: bs_c[:character_name]}
        = enemy[:name]
      %span{ class: bs_c[:character_status]}
        %span{ class: bs_c[:status_badge] }
          HP
        = "#{battle_result[:last_enemy_hp]}"
        %span{ class: bs_c[:max_hp] }
          = "/#{enemy[:hp]}"
      %span{ class: bs_c[:character_status]}
        %span{ class: bs_c[:status_badge] }
          LV
        = enemy[:lv]

#result-message{ class: bs_c[:result_message] }
  - if battle_result[:player_won]
    .div
      = "#{battle_result[:winner_name]}は"
      %span{ class: bs_c[:user_won] } 戦闘に勝利した！
    .div
      獲得EXP :
      %span{ class: bs_c[:get_exp] }
        = battle_result[:get_exp]
      = "（計EXP #{battle_result[:current_exp]}）"
    .div
      獲得COIN :
      %span{ class: bs_c[:get_coin] }
        = battle_result[:get_coin]
      = "（現COIN #{battle_result[:current_coin]}）"
  -else
    .div{ class: bs_c[:user_lose] }
      = "戦闘に敗北した..."


-# ホームへのリンク
= link_to root_path, class: bs_c[:home_button] do
  %i.fas.fa-home
  Home