- bs_c = { home_button: "btn btn-light btn-block my-5" }

%table.table.table-dark
  %thead
    %tr
      %th 名前
      %th HP
      %th STR
      %th VIT
  %tbody
    %tr
      %th= @player.name
      %td= @player.hp
      %td= @player.str
      %td= @player.vit
    %tr
      %th= @enemy.name
      %td= @enemy.hp
      %td= @enemy.str
      %td= @enemy.vit
-# = "#{@enemy.hp} /#{@enemy.max_hp}"


- i ||= 1
- @logs.each do |log|
  %p
    %span.badge.badge-light.badge-pill.mr-2
      = "#{i}"
    = "#{log}"
  - i += 1


#user-info
  %span.col-3
    = @player.name
  %span.badge.badge-light.ml-3.mr-2
    = "HP"
  = @player.current_hp
  %span.small
    = "/#{@player.hp}"

#enemy-info
  %span.col-3
    = @enemy.name
  %span.badge.badge-light.ml-3.mr-2
    = "HP"
  = @enemy.current_hp
  %span.small
    = "/#{@enemy.hp}"

= link_to root_path, class: bs_c[:home_button] do
  %i.fas.fa-home
  Home