- bs_c = @bootstrap_class_list
- bs_c.merge!( skill_change_form:   '',
               skill_lists:         'btn-group-vertical btn-group-toggle w-100',
               form_radio_label:  'btn btn-dark text-left rounded-0',
               form_radio_button: '' )


%h1.h5
  スキル

#skills{ class: bs_c[:form] }
  = form_with url: '#',
              scope: :skill_change_list do |f|
    
    #skill-lists{ class: bs_c[:skill_lists], data: { toggle: 'buttons' } }
      - @player.acquired_skills.each.with_index(1) do |acquired_skill, index|
        = f.label "target_skill_id_#{acquired_skill.skill.id}".to_sym,
                  class: bs_c[:form_radio_label] do
          .row
            .col-1
              = index
            .col
              = acquired_skill.skill.name
            .col
              = acquired_skill.skill.description
          = f.radio_button :target_skill_id,
                           acquired_skill.skill_id

    = f.submit '変更',
               class: bs_c[:form_submit]

  = link_to root_path,
            class: bs_c[:link_btn_block_light] do
    キャンセル
