-# ヘッダーナビゲーション

- bs_c = { header_logo_items: "p-0 col col-sm-4",
           header_logo_item: "navbar-brand nav-link w-100",
           header_nav_items: "navbar-nav col flex-row justify-content-end",
           header_nav_item:  "nav-link flex-fill col-sm-3 text-center text-white" }

%header.sticky-top.bg-dark
  %nav.nav-bar.navbar-dark.container
    .row
      #logo-rga{ class: bs_c[:header_logo_items] }
        = link_to(root_path, class: bs_c[:header_logo_item]) do
          %i.fas.fa-dragon
          RGA

      #nav-items{ class: bs_c[:header_nav_items] }
        - if user_signed_in?
          = link_to(edit_user_registration_path,
                    id: "edit-user-registration", class: bs_c[:header_nav_item]) do
            %i.fas.fa-user-cog
          = link_to(destroy_user_session_path,
                    method: :delete,
                    id: "sign-out", class: bs_c[:header_nav_item]) do
            %i.fas.fa-sign-out-alt
        - else
          = link_to(new_user_registration_path,
                    id: "sign-up", class: bs_c[:header_nav_item]) do
            %i.fas.fa-user-plus
          = link_to(new_user_session_path,
                    id: "sign-in", class: bs_c[:header_nav_item]) do
            %i.fas.fa-sign-in-alt
