!!!
%html
  %head
    %title Rga
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render "layouts/header"
    .container.my-5
      - flash.each do |message_type, message|
        = content_tag(:div, message, class: "alert alert-#{message_type}")
        .notice= notice
        .alert= alert
      = yield
    = render "layouts/footer"
